<nav class="nav">
                  
                  
</nav>
<div class="wrapper">
  <main class="main ">
    <div class="slide">
    <div class="portfolio">
      <section class="portfolio_items">
        <figure class="portfolio_item">
          <img  src="assets/principal.jpg" alt="" />	
        </figure>
  
        <figure class="portfolio_item">
          <img src="assets/mambai.jpg" alt="" />	
        </figure>
  
        <figure class="portfolio_item">
            <img src="assets/cachoeirafunil.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
          <img src="assets/pocoazul.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
        <img src="assets/carn.jpg" alt="" />	
        </figure>

        <figure class="portfolio_item">
          <img src="assets/paraisocerrado.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
        <img src="assets/rapel.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
        <img src="assets/caverna.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
        <img src="assets/pn.jpg" alt="" />
        </figure>

        <figure class="portfolio_item">
        <img src="assets/tirolesa.jpg" alt="" />
        </figure>
      </section>
    </div>
  </div>
  </main>
</div>