<div class="wrapper">
    <main class="main ">
        <div class="slide">
            <div class="portfolio">
                <section class="portfolio_items">
                    <figure class="portfolio_item">
                        <img src="../../../assets/one.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/two.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/tres.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/quatro.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/five.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/one.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/two.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/tres.jpg" alt="" />
                    </figure>

                    <figure class="portfolio_item">
                        <img src="../../../assets/quatro.jpg" alt="" />
                    </figure>

                </section>
            </div>
        </div>
    </main>
</div>