/* Carrossel para imagens */
.item-1, 
.item-2, 
.item-3,
.item-4, 
.item-5, 
.item-6,
.item-7, 
.item-8, 
.item-9,
.item-10 {
  position: absolute;
  display: block;
  top: 1em;
  
  width: 70%;
  
  font-size: 2em;

  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

.item-4{
  animation-name: anim-4;
}

.item-5{
  animation-name: anim-5;
}

.item-6{
  animation-name: anim-6;
}

.item-7{
  animation-name: anim-7;
}

.item-8{
  animation-name: anim-8;
}

.item-9{
  animation-name: anim-9;
}

.item-10{
  animation-name: anim-10;
}




@keyframes anim-1 {
  0%, 2% { left: -100%; opacity: 0; }
  4%, 8% { left: 21%; opacity: 1; }
  10%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 10%  { left: -100%; opacity: 0; }
  12%, 18% { left: 21%; opacity: 1; }
  20%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 20% { left: -100%; opacity: 0; }
  22%, 28% { left: 21%; opacity: 1; }
  30%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-4 {
  0%, 30% { left: -100%; opacity: 0; }
  32%,38% { left: 21%; opacity: 1; }
  40%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
  0%, 40% { left: -100%; opacity: 0; }
  42%, 48% { left: 21%; opacity: 1; }
  50%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-6 {
  0%, 50% { left: -100%; opacity: 0; }
   52% , 58%{ left: 21%; opacity: 1; }
  60%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-7 {
  0%, 60% { left: -100%; opacity: 0; }
  62%, 68% { left: 21%; opacity: 1; }
  70%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-8 {
  0%, 70% { left: -100%; opacity: 0; }
   72%, 78% { left: 21%; opacity: 1; }
   80%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-9 {
  0%, 80% { left: -100%; opacity: 0; }
  82%, 88% { left: 21%; opacity: 1; }
  90%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-10 {
  0%, 90% { left: -100%; opacity: 0; }
  92%, 98% { left: 21%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}




 /*-----------------------text-ende---------------------  */

 /* ----------------slide------------------------------- */
 
  /*----------------------- slick---------------------  */


  .slide {
  position: relative;
  display: block;
  width: 98%;
  margin: 1% auto; 
  padding: 0;
  /* border: 5px solid #2C3E50; */
  overflow:hidden;
  }
  
  .slide:after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 50.6%;
  height: 0.5%;
  background: white;
  animation: leftRight 40s infinite linear;
  }
  .slide:before {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  width: 50.6%;
  height: 0.5%;
  background: white;
  animation: leftRight 40s infinite linear;
  z-index:9999;
  }
  .portfolio {
  position: relative;
  width: 100%;
  height:800px;
  padding: 0;
  overflow: hidden;
  margin: 0;
  }
  
  .portfolio_items {
  position: absolute;
  left: 0;
  top: 0;
  width: 1800%; 
  animation: slide 50s infinite linear;
  }
  
  .portfolio_item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  width: 5.5556%;
  }
  
  .portfolio_item img {
  width: 100%;
  height: 95%;
  border: 0;
  outline: 0;
  display: block;
  }
  
  /* fx */
  @keyframes leftRight{
  0%{width:0%;}
  10%{width:50%;}
  12%{width:0%;}
  20%{width:50%;}
  22%{width:0%;}
  30%{width:50%;}
  32%{width:0%;}
  40%{width:50%;}
  42%{width:0%;}
  50%{width:50%;}
  52%{width:0%;}
  60%{width:50%;}
  62%{width:0%;}
  70%{width:50%;}
  72%{width:0%;}
  80%{width:50%;}
  82%{width:0%;}
  90%{width:50%;}
  100%{width:0%;}
  } 
  
  @keyframes slide {
  0% {left: 0%;opacity: 0;}
  2% {left: 0%;opacity: 1;}
  8% {left: 0%;opacity: 1;}
  10% {left: 0%;opacity: 0;}

  12% {left: -100%;opacity: 0;}
  14% {left: -100%;opacity: 1;}
  18% {left: -100%;opacity: 1;}
  20% {left: -100%;opacity: 0;}

  22% {left: -200%;opacity: 0;}
  24% {left: -200%;opacity: 1;}
  28% {left: -200%;opacity: 1;}
  30% {left: -200%;opacity: 0;}

  32% {left: -300%;opacity: 0;}
  34% {left: -300%;opacity: 1;}
  38% {left: -300%;opacity: 1;}
  40% {left: -300%;opacity: 0;}

  42% {left: -400%;opacity: 0;}
  44% {left: -400%;opacity: 1;}
  58% {left: -400%;opacity: 1;}
  50% {left: -400%;opacity: 0;}

  52% {left: -500%;opacity: 0;}
  54% {left: -500%;opacity: 1;}
  58% {left: -500%;opacity: 1;}
  60% {left: -500%;opacity: 0;}

  62% {left: -600%;opacity: 0;}
  64% {left: -600%;opacity: 1;}
  68% {left: -600%;opacity: 1;}
  70% {left: -600%;opacity: 0;}

  72% {left: -700%;opacity: 0;}
  74% {left: -700%;opacity: 1;}
  78% {left: -700%;opacity: 1;}
  80% {left: -700%;opacity: 0;}

  82% {left: -800%;opacity: 0;}
  84% {left: -800%;opacity: 1;}
  88% {left: -800%;opacity: 1;}
  90% {left: -800%;opacity: 0;}

  92% {left: -900%;opacity: 0;}
  94% {left: -900%;opacity: 1;}
  98% {left: -900%;opacity: 1;}
  99% {left: -900%;opacity: 0;}

  100% {left: 0%;opacity: 0;}
  }
  
  
  /* media queries */
  @media (min-width: 240px) {
  .portfolio_item figcaption {width:50%}
  .portfolio{height:100px;}}
  @media (min-width: 320px) {
  .portfolio_item figcaption {width:35%}
   .portfolio{height:200px;}}
  @media (min-width: 480px) {
  .portfolio_item figcaption {width:25%}
  .portfolio{height:250px;}}
  @media (min-width: 760px) {
  .portfolio_item figcaption {width:95%}
  .portfolio{height:550px;}} 
  @media (min-width: 3700px) {
    .portfolio_item figcaption {width:95%}
    .portfolio{height:2000px;}}  

/* bulma.min.css | https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css */

@media screen and (min-width: 769px), print {
  .hero-body {
    padding: 0rem 0rem !important;
  }
  }
  
  .hero-body {
  padding: 0rem 0rem !important; 
  }



  .site-footer
{
  background-color:#bfc0c4;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:25px;
  width:25px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
  margin-right: 15px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

/* Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}


/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

/* Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}
.colophon {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
  font-size: 90%;
	text-align: center;
  line-height: 1.8em;
}