<mat-toolbar>
    <mat-toolbar-row class="navgm">
        <span routerLink="">
            GM Turismo LTDA
        </span>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/inicio">Início</button>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/pontos-turisticos"> Pontos
            Turísticos</button>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/servicos">Serviços</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>