<mat-toolbar>
    <mat-toolbar-row class="navgm">
        <span routerLink="">
            GM Turismo LTDA
        </span>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/inicio">Início</button>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/pontos-turisticos"> Pontos
            Turísticos</button>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/servicos">Serviços</button>
        <button class="example-icon" mat-flat-button color="Disabled" routerLink="/comidas">Culinária</button>
        <button class="example-icon" mat-flat-button color="Disabled"><a href="https://gessicameireles30.github.io/AtualizadoWeb1/">SiteSala </a></button> 
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

